@media only screen and (max-width: 600px) {
  .main__description--title {
    font-size: 30px;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }

  .login__container {
    padding: 30px;
    min-height: 500px;
  }
  .register__container {
    padding: 30px;
    min-height: 500px;
  }
}
