.register {
  background-image: #ffe9bf;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.register__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid black;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 600px;
  padding: 60px 68px 40px;
}

.register__container h2 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
}

.register__container--form {
  display: flex;
  flex-direction: column;
}

.register__container a {
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 0 2px;
  border-bottom: solid rgba(255, 0, 0, 0.8) 2px;
}

.button {
  background-color: rgba(255, 0, 2, 0.8);
  border: none;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
  border: solid black 2px;
}

.button:focus {
  background: rgba(255, 0, 2, 0.7);
  outline: none;
}

.button:hover {
  background: rgba(255, 0, 2, 0.7);
}

@media only screen and (max-width: 600px) {
  .register__container {
    padding: 30px;
    min-height: 500px;
  }
}
